.logo {
  position: absolute;
  top: 0px;
  margin-left: 40px;
  width: 80px;
}

.logo > img {
  width: 100%;
}

.nav-bar {
  padding: 15px 35px;
  color: white;
  background: #0E163D;
  font-size: 14px;
  line-height: 19px;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  margin-left: 150px;
}

.grid-item {
  display: flex;
  align-items: center;
}

.mini-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.mini-nav li {
  list-style: none;
}

.nav-item {
  margin-left: 10px;
  margin-right: 30px;
}

.user-profile {
  display: flex;
}
.hello {
  font-size: 10px;
  line-height: 13px;
  text-align: right;
}
.name {
  margin-right: 15px;
}