html,body{
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3em;
}

.css-2b097c-container {
  padding: 0 20px;
  margin-top: 40px;
}

